/* colors.css */
:root {
    --color-primary: #3B6FC9;
    --color-secondary: #5787D7;
    --color-btn: #004299;
    /* ...otros colores */
  }
  .container-b{
    height: 80px;
    padding-left: 10px;
    background-color: #FDF9F9;
  }
  .rs-panel-body{
    padding: 5px;
  }
  .rs-btn {
    background-color: #004299;
    color: #FDF9F9;
  } 
  